/*bootstrap overrides*/

html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c8c8c8;
    background-color: #272b30;
    height: 100%;
    padding: 0;
    margin: 0;
}

/*custom elements*/
#graphics-content-wrapper {
    /*width: 100%;*/
    height: 100%;
    margin-left: 300px;
    overflow: hidden;
}

#sidebar-wrapper {
    min-height: 100%;
    max-height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    bottom: 0;
    overflow-y: scroll;
}

.sidebar-component {
    /*border: 1px solid black;*/
    display: block;
    width: 100%;
    margin: 0;
    padding: 0px;
    position: relative;
}

#data-panel {
    min-height: 100px;
    max-height: 20%;
    /*height: 700px;*/
    width: 100%;
    background-color: mintcream;
    /*padding: 2%;*/
    overflow: scroll;
    font-size: 20px;
    color: black;
    /*bottom: 0px;*/
    /*right: inherit;*/
    /*display: block;*/
    /*position:relative;*/
}

.data {
    margin: 0;
    padding: 2%;

    text-align: left;
    border-bottom: 1px solid lavender;
}

.stripe {
    background: #c8fae0;
}

#file-loader {
    display: none;
}

#file-path {
    font-size: 28px;
    width: 100%;
    margin: 0px 0px 5px 0px;
    /*margin-bottom: 5px;*/
    padding: 0px;
    background-color: mintcream;
}

.sidebar-btn {
    /*height: 90%;*/
    width: 49%;
    /*margin-top: 5%;*/
    cursor: pointer;
    line_height: 100px;
    text-align: center;
    display: inline-block;
}

.sidebar-btn a {
    display: block;
    color: mintcream;
    background: darkorange;
    height: 100%;
    text-decoration: none;
}

.sidebar-btn a:hover {
    color: #222;
    background: mintcream;
    text-decoration: none;
}

/*.sidebar-component input {*/
    /*padding: 10px;*/
    /*width: 80%;*/
/*}*/

/*.sidebar-component a {*/
    /*color: #c8c8c8;*/
    /*text-decoration: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/* The side navigation menu */
/*.sidenav {*/
    /*height: 100%; !* 100% Full-height *!*/
    /*width: 250px; !* 0 width - change this with JavaScript *!*/
    /*position: fixed; !* Stay in place *!*/
    /*z-index: 1; !* Stay on top *!*/
    /*top: 0;*/
    /*left: 0;*/
    /*background-color: #111; !* Black*!*/
    /*overflow-x: hidden; !* Disable horizontal scroll *!*/
    /*padding-top: 60px; !* Place content 60px from the top *!*/
    /*transition: 0.5s; !* 0.5 second transition effect to slide in the sidenav *!*/
/*}*/

/*!* The navigation menu links *!*/
/*.sidenav a {*/
    /*padding: 8px 8px 8px 32px;*/
    /*text-decoration: none;*/
    /*font-size: 25px;*/
    /*color: #818181;*/
    /*display: block;*/
    /*transition: 0.3s*/
/*}*/

/*!* When you mouse over the navigation links, change their color *!*/
/*.sidenav a:hover{*/
    /*color: #f1f1f1;*/
/*}*/

/*!* Position and style the close button (top right corner) *!*/
/*.sidenav .closebtn {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 25px;*/
    /*font-size: 36px;*/
    /*margin-left: 50px;*/
/*}*/

/*!* Style page content - use this if you want to push the page content to the right when you open the side navigation *!*/
/*#main {*/
    /*transition: margin-left .5s;*/
    /*padding: 20px;*/
/*}*/

/*!* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) *!*/
/*@media screen and (max-height: 450px) {*/
    /*.sidenav {padding-top: 15px;}*/
    /*.sidenav a {font-size: 18px;}*/
/*}*/